body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
#player {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
button {
    display: inline-block;
    margin: 5px;
}
#playlist {
    list-style-type: none;
    padding: 0;
}
